<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>一个没羞没臊的程序员</title>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/hightcharts.js"></script>
    <script src="~/js/exporting.js"></script>
    <script src="~/js/hightchart-zh_Cn.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
